.desc {
  font-family: sans-serif;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 1em 1em;
}

.grid-container .gallery .desc {
  position: relative;
  font-size: 25px;
  text-align: left;
  font-weight: bold;
  padding: 20px;
  color: white;
  line-height: 1em;
  -webkit-transform: translate(0px, -100%);
  transform: translate(0px, -100%);
  pointer-events: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), 2px 2px 8px black;
}


.grid-container .gallery {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#daa900),
    color-stop(#4a3e12),
    to(black)
  );
  background-image: linear-gradient(#daa900, #4a3e12, black);
  height: inherit;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.gallery:nth-child(2n)  {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#004cda),
    color-stop(#12264a),
    to(black)
  );
  background-image: linear-gradient(#004cda,#12264a, black);
  height: inherit;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.grid-container .gallery img {
  -webkit-transition: -webkit-box-shadow opacity 0.2s ease-out;
  transition: -webkit-box-shadow opacity 0.2s ease-out;
  transition: box-shadow opacity 0.2s ease-out;
  transition: box-shadow opacity 0.2s ease-out,
    -webkit-box-shadow opacity 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}


.grid-container .gallery img:hover {
  opacity: 60%;
  -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.4),
    0 0px 30px 0 rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.4), 0 0px 30px 0 rgba(0, 0, 0, 0.2) !important;
  mix-blend-mode: color-dodge;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
